.header-container {
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object-fit: contain;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
	position: absolute;
}

.header-container img {
	object-fit: cover;
	width: 100%;
	height: 90vh;
	position: fixed;
	z-index: -1;
}

.header-text {
	text-align: left;
	margin-top: -100px;
}

.header-text > h1 {
	color: $white;
	font-size: 50px;
	margin-top: 16px;
}

.header-text > p {
	color: $white;
	font-size: 32px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
		sans-serif !important;
}

.header-text > button {
    margin-top: 16px;
    background-color: transparent;
    color: $white;
    padding: 10px 30px;
    border: 1px solid $white;
    transition: all 0.3s ease-out;
    font-size: 16px;
    cursor: pointer;

    &:hover{
        color: darken($color: $white, $amount: 20);
    }

    &:focus{
        outline: none;
    }

}
.btn-slide {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100px;
	height: 100px;
	background: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;

	transition: 0.5s ease;

	&:hover {
		color: rgba(255, 255, 255, 1);
		background: rgba(0, 0, 0, 1);
	}

	&:focus {
		outline: none;
	}
}

.fa-angle-left,
.fa-angle-right {
	font-size: 50px;
	color: $white;
}

#goLeft {
	left: 0;
}

#goRight {
	right: 0;
}

@media screen and (max-width: 960px) {
	.header-container {
		height: 50vh;
	}

	.header-text > h1 {
		font-size: 40px;
	}
	.header-text > p {
		font-size: 10px;
	}

	.header-container img {
		height: 50%;
	}

	.btn-slide {
		top: 40%;
	}
}

@media screen and (max-width: 768px) {
	.header-container {
		height: 40vh;
	}
	.header-text > h1 {
		font-size: 20px;
	}

	.header-text > p {
		font-size: 10px;
	}

	.header-container img {
		height: 40%;
	}
}
