//colors
$primary: #5C62C5;
$dark: #0A0B0D;
$black:  #202124;
$dark-light: #222326;
$grey: #515659;
$grey-soft:#848B8C;
$grey-clear:#9FA5A6;
$light-grey: #d8d8d8; 
$gray: #c2c2c2;
$gray-light: #f8f9fa;
$white: #fff;
$yellow: #f0ca05